.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
    font-family: 'Roboto Mono', monospace;
}

Header.uk-active {
    background-color: white;
}

.uk-navbar-nav>li>a.active {
    color: #ee395b;
}

@media (max-width: 639px) {
    .uk-nav-center-sm {
        margin-left: auto;
        margin-right: auto;
    }
}