
.gradient-card {
    padding-top:40px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: none;
}

.gradient-card:hover {
    border-color: transparent;
}

.gradient-card .uk-card-title {
    font-size: 20px;
}

.gradient-card .gr-color-group,.gradient-card .action {
    margin-top: 35px;
}

.gradient-card .action .uk-button:not(:last-child){
    margin-right: 15px;
}

.card-media{
    min-height:250px;
    width: 250px;
    margin: 0 auto;
}

.gr-color {
    color: white;
    display: inline-flex;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.gr-color > span{
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.38);
    position: absolute;
    width: 35px;
    border-radius: 50%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;
}

.gr-color:hover > span {
    opacity: 1;
}

.gr-color:not(:last-child) {
    margin-right: 15px;
}

.gradient-card .action .uk-button-alt {
    background-color: transparent;
    border:3px solid black;
    color: black;
    box-sizing: border-box;
    line-height: 34px;
}

.gradient-card .action .uk-button-alt:hover {
    transition: 0.3s all;
    background-color: black;
    color: white;
}

@media (min-width: 640px) {
    .gradient-card .uk-card-body {
        text-align: left;
    }
}

@media (min-width: 640px) and (max-width: 700px) {
    .gradient-card .action .uk-button-alt {
        margin-bottom: 10px;
    }
}