body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

h1, .uk-h1, h2, .uk-h2, h3, .uk-h3, h4, .uk-h4, h5, .uk-h5, h6, .uk-h6 {
  font-family: 'Roboto Mono', monospace;
}
